/* App Styling */
@font-face {
  font-family: "somatic";
  src: local("somatic"), url(./fonts/Somatic-Rounded.otf) format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  background-color: rgb(29, 22, 73);
}

.sidebar {
  background-color: white;
  min-height: 100%;
  display: block;
  position: absolute;
  z-index: 1; /* Places on top */
  min-width: 70vw;
  background-color: rgb(148, 139, 209);
}

/* Header Styling */
.link-bar {
  display: none;
}

.header {
  display: none;
}

.mobile-header {
  min-height: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(236, 236, 236);
  background-color: rgb(29, 22, 73);
  border: 1px solid rgb(59, 44, 151);
  font-family: somatic, serif;
}

.side-bar-btn {
  margin-left: 0.25em;
}

.mobile-header h3 {
  font-size: xx-large;
}

nav ul {
  display: flex;
  list-style-type: none;
}

.invs {
  flex: 1;
}

.drop-down {
  margin-right: 0.25em;
  padding-top: 0.25em;
}

.dropbtn {
  justify-self: stretch;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; /* Places on top */
}

.dropdown-content a {
  color: rgb(29, 22, 73);
  text-decoration: none;
  min-width: 60vw;
  min-height: 3em;
  display: flex;
  align-items: center;
  padding: 0 0 0 1em;
}

/* Main Styling */
main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Banner Styling */
.banner {
  margin: 0.5em;
  color: rgb(196, 196, 196);
  border: 1px solid rgb(54, 33, 196);
  background-color: rgb(33, 20, 114);
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

.banner-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0;
}

.banner-head p {
  margin: 0em 1.5em 0.5em 1.5em;
  text-align: center;
}

.banner-head h4 {
  margin: 0.5em 0;
  font-size: x-large;
}

.banner-links {
  background-color: rgb(60, 45, 156);
  border-top: 1px solid white;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.banner-links h5 {
  font-size: 0.9em;
  margin: 0.25em;
}

.banner-links ul {
  margin: 0 1em;
}

.banner-link {
  color: white;
  text-decoration: none;
  font-size: small;
  margin: 0.25em;
}

/* Main Grid Stying */
.main-grid {
  margin: 0 0.5em 0.5em;
  flex: 1;
  min-height: 40em;
  background-color: rgb(117, 103, 206);
  border: 1px solid rgb(133, 116, 245);
}

/* Footer Styling */
.footer {
  min-height: 5em;
  background-color: rgb(148, 139, 209);
}
