* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px solid black;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.link-bar {
  display: none;
}

.header {
  display: none;
}

nav ul {
  display: flex;
  list-style-type: none;
}

.invs {
  flex: 1;
}

.sidebar {
  position: absolute;
  background-color: gray;
  height: 100%;
  display: block;
  z-index: 1; /* Places on top */
  min-width: 70vw;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main-grid {
  flex: 1;
}

.dropbtn {
  border: none;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; /* Places on top */
}

.dropdown-content a {
  text-decoration: none;
}
