* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px solid black;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

nav ul {
  display: flex;
  list-style-type: none;
}

.invs {
  flex: 1;
}

main {
  flex: 1;
  display: flex;
}

body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.body-grid {
  flex: 1;
}
